body{
	background-color: #fafafa;
	margin: 0px;
	font-family: helvetica,"Hiragino Sans GB","Microsoft YaHei",arial,sans-serif;
}

.img{
	margin: 0;
}
.nav{
	height: 58px;
	background-color: #fff;
	border-bottom: 1px #e0e0e0 solid;
	opacity: 0.6;
}

.container {
	width: 1000px;
  	margin-right: auto;
  	margin-left: auto;
  }

.home-feast-list{
	width: 1000px;
	height: 100%;
	margin-bottom: 20px;
	display:inline-block;
}

.feast-theme{
	position: relative;
	width: 480px;
	height: 490px;
	background-color: #fff;
	margin:10px;
	display: inline-block;
	float: left;
}

.feast-img-cover{
	width: 480px;
	height: 300px;
	background-image:url('https://dn-img-seriousapps.qbox.me/business/14149316513474?imageView2/1/w/639/h/420/interlace/1/format/webp');
}

.feast-label{
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	top:10px;
	left: 10px;
	position: absolute;
	z-index:10;
	background-color: rgba(0,0,0,0.6);
}

.home-feast-front-header{
	margin: 10px 20px 0px 20px;
}

.circular-image{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-right:10px;
	float: left;
	margin-top: -26px;
	border: solid #fff 2px;
}

.home-feast-front-feastintro{
	display: inline-block;
}

.home-feast-front-brief{
	display: inline-block;
	width: 440px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.home-feast-front-feastName{
	margin: 0px;
	font-size: 18px;
	font-weight: bold; 
	color: #212121;
	float: left;
}

.home-feast-front-timeprice{
	margin: 0px;
	font-size: 14px;
	color: #a03845;
	float: left;

}

.home-feast-front-feastLocation{
	font-size: 14px;
	color: #a03845;
	margin:0;
	float: right;

}

.home-feast-front-intro{
	margin: 0px 20px;
	font-size: 14px;
	color: #757575;
	display: inline-block;
	line-height: 1.480;
}

.home-feast-front-meta{
	margin: 8px 20px;
	display: inline-block;

}

.home-feast-front-reserTip{
	display: inline-block;
	font-size: 14px;
	color:#212121;
	margin:0;
	float: left;
}

.home-feast-front-resermanlist{
	display: inline-block;
	position: relative;

}

.home-feast-front-reserman{
	margin: 0 20px;
}

.home-feast-front-reserman img {
	float: left;
}

.home-feast-front-reserman .avatar{
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.forward{
	width: 16px;
	height: 16px;
	margin: 2px 0;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}


.more{
	margin: 10px;
	width: 980px;
	display: inline-block;

}

.btn{
	height: 50px;
  	border: 1px #a03845 solid;
  	line-height: 50px;
  	display: block;
 	background: #fafafa;
 	color: #a03845;
 	text-align: center;
}


/*详细页面 css*/


.slick-slide{
	width: 1000px;
	height: 580px;
	position: relative;
}

.slick-slide .imgnub{
	margin: auto;
	position: absolute;
	bottom: 20px;
	background-color: #fff;
	width:60px;
	height: 26px;
	opacity: 0.6;
	border-radius: 50px;
	text-align: center;
	margin-left: 460px;
}

.imgnub p{
	margin: 4px;
}

.feast-reservation{
	width: 1000px;
	height:74px;
	background-color: #fff;
	position: relative;
}

.home-feast-detail {
	width: 1000px;
	height: 100%;
	background-color: #fff;
	margin-top: 20px;
}

h1{
	text-align: center;
	padding: 40px;
	margin: 0;
}

p{
	margin-top: 9px;
	font-size: 16px;

}

.cuisiner {
	display: inline-block;
	float: left;
}

.cuisiner .circular-image {
	margin: 10px 10px 10px 20px;
}

.cuisiner .cuisiner-name{
	display: inline-block;
}

.cuisiner p{
	margin-top: 30px;
	font-size: 16px;
	margin-right: 40px;

}

.detail.home-feast-front-brief{
	float: left;
	margin-top: 10px;
}

.detail.home-feast-front-brief .home-feast-front-timeprice{
	font-size: 16px;
	color: #212121;
	font-weight: bold;
	display: block;
	float: none;

}

.detail.home-feast-front-brief .home-feast-front-feastLocation{
	font-size: 16px;
	color: #212121;
	font-weight: bold;
	display: block;
	float: none;

}




.feast-reservation button{
	width: 160px;
	height: 50px;
	background-color: #a03845;
	color: #fff;
	font-size: 16px;
	border-radius: 3px;
	border-style: none;
	position: absolute;
	right: 20px;
	top: 12px;
}

.detail-title{
	position: relative;
	height: 40px;
	margin-bottom: 16px;

}

.title-name{
	position: absolute;
	line-height: 14px;
	right: 420px;
	width: 160px;
	background-color: #fff;
	z-index: 10;
	text-align: center;
	display: block;
	top: 14px;
	font-size: 18px;
	font-weight: bold;
}

.divider{
	position: absolute;
	top: 20px;
	width: 400px;
	border-top: 1px solid rgba(0,0,0,.1);
	margin-right: 300px;
	margin-left: 300px;
	
}

.guest-list{
	margin-bottom: 40px;
}

.guest-list .home-feast-front-reserman {
	margin: 0 150px;
	text-align: center;
	display: inline-block;
}

.guest-list .home-feast-front-reserman .avatar{
	width: 50px;
	height: 50px;
	border-radius: 3px;
	margin-right: 20px;
}

/* .guest-list .home-feast-front-reserman .aligncenter {
 	clear: both;
 	display: block;
 	margin:auto;
 	display: inline;
}
*/

.home-feast-detail-host{
	margin-bottom: 40px;
}

.home-feast-detail-host p{
	font-size: 16px;
	line-height: 2;
	width: 600px;
	text-align: center;
	margin: auto;

}

.home-feast-detail-menu{
	margin-bottom: 40px;
}

.home-feast-detail-menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.home-feast-detail-menu-item {
  margin-bottom: 18px;
 }

.reserve-host-tip{
	text-align: center;
	margin-bottom: 40px;
}


/*订单确认页面 css*/

.orderconfirm-info{
	width: 1000px;
	height: 750px;
	background-color: #fff;
}

.orderconfirm-info .title-name{
	font-size: 18px;
	color: #a03845;
}

.order-information{
	width: 600px;
	height: 600px;
	margin: auto;
	background-color: #fafafa;

}

.orderconfirm-info button{
	display: block;
	width: 160px;
	height: 50px;
	background-color: #a03845;
	color: #fff;
	font-size: 16px;
	border-radius: 3px;
	border-style: none;
	margin: 40px auto;
}

.order-info{
	display: block;
	width: 520px;
	margin: auto;
	padding-top: 50px;
}

.order-info dl{
	margin-top: 0;
  	margin-bottom: 10px;
  	font-size: 16px;

}

.order-info dt{
	float: left;
	width: 50px;
}

.order-info dd {
  margin-bottom: 5px;
  margin-left: 5em;
  }


.order-info .divider{
	margin-top: 500px;
	width: 520px;

}


/*订单状态页面 css */
.ordercheck-info{
	width: 1000px;
	height: 500px;
	background-color: #fff;
}


.QRcode{
	display: inline-block;
	width: 450px;
	margin-left: 50px;
	margin-top: 50px;
	float: left;
	padding-top: 10px;
	text-align: center;
	border-right: solid 1px #e0e0e0;
	font-size: 16px;
	color: #a03845;
}

.order-check-info{
	display: inline-block;
	width: 400px;
	margin-right: 50px;
	margin-top: 50px;
	float: right;
	padding-top: 10px;
	text-align: center;
	font-size: 16px;
	color: #a03845;
}

.order-check-info button{
	width: 300px;
	height: 60px;
	border-radius: 3px;
	border: solid 1px #212121;
	background-color: #fff;
	font-size: 16px;
	color: #212121;
}

/*errors 页面 css*/

body{
	background-color: #fafafa;
}

.error{
	width: 480px;
	margin: 100px auto 0;
}


.error .content{
	padding: 32px 28px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
}






















