/*下面是issue的css*/ 
.container1{
	width: 1000px;
	margin: auto;
}

.issue-details{
	width: 980px;
	margin: auto;
	font-family: Arial,"Microsoft YaHei";
	font-size: 14px;
	text-align: left;
}

.nav {
	width: 100%;
	height: 50px;
	background-color: rgba(255,255,255,0.7);
	/*position: fixed;*/
}

.nav .contaniner{
	width: 1000px;
	height: 30px;
	margin: auto;

}

.nav .contaniner .logo {
	width: 30px;
	height: 40px;

}

.banner {
	background-image:url('http://ww3.sinaimg.cn/large/82a9ab14jw1eqwyak5x0oj20xc0fa7a3.jpg'); 
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f9f0f1;
	height: 500px;
	width: 100%;
	margin: auto;
}

.cuisine {
	width: 910px;
	margin: auto;
	margin-top: 62px;
}

.cuisine .cuisine-img{
	background-image:url('http://ww3.sinaimg.cn/large/82a9ab14jw1eqm84zh4coj20ue0kawl6.jpg'); 
	background-size: cover;
	width: 600px;
	height: 300px;
	margin-right: 30px;
	float: left;
}

.cuisine .cuisine-brief {
	width: 280px;
	height: 300px;
	overflow: auto;
}

.chef-avatar img {
	width: 72px;
	height: 72px;
	border-radius:50%;
	overflow: auto;
	margin-bottom: 10px;
}

.cuisine-detail {
	background-color: #f9f0f1;
	width: 910px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;

}

.cuisine-detail .cuisine-description {
	text-align:center;
	width: 540px;
	margin: auto;
	padding-top: 70px;
}

.cuisine-detail .chef-description {
	text-align:center;
	width: 540px;
	margin: auto;
	padding-top: 50px;
}

.cuisine-detail .menu {
	text-align:center;
	width: 540px;
	margin: auto;
	padding-top: 50px;
}
.cuisine-detail .cuisine-img {
	text-align:center;
	width: 730px;
	margin: auto;
	padding-top: 50px;
}

.cuisine-detail .cuisine-img img {
	width: 350px;
	height: 350px;
	padding: 10px;
}

.cuisine-detail .more {
	width: 320px;
	height: 30px;
	margin: auto;
}

.cuisine-detail .more button {
	width: 100px;
	height: 30px;
	margin-right: 28px;
	margin-left: 28px;
	text-align: center;


}

.footer {
 	background-image: url('http://ww1.sinaimg.cn/large/82a9ab14jw1eqgm96eqq7j2074074dfv.jpg');
    height: 256px;
    width: 100%;
}

.footer .footer-inform {
	width: 910px;
	margin: auto;
	padding-top: 80px;
	text-align: center;
	color: #fff;
}

/* a:link {color: #fff} */ 

/*下面是个人中心的css*/ 

.nav-sc {
	width: 100%;
	height: 40px;
	background-color: #565a5c;

}

.nav-container {
	width: 910px;
	margin: auto;
}

.subnav-list{
	width: 200px;
	height: 20px;
	margin-right:10px;
}

.reminder{
	width: 910px;
	height: 50px;
	background-color: #f8f0f0;
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
}

.orders{
	width: 910px;
	margin: auto;
	margin-top: 20px;
}

.order-info {
	width: 290px;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	border-color: #bebec2;

}

.order-info p{
	line-height: 12px;
}

.order-important {
	width: 250px;
    border-bottom: 1px #bebec2 dashed;
    padding-top: 10px;
    margin: auto;
}

.order-important p {
	color: #955251;
	font-weight: bold;

}

.order-minor {
	padding-top: 10px;
	width: 250px;
    margin: auto;
    padding-bottom: 20px;

}







































